.history_table {
    align-self: center;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 32px;
}

.history_table th {
    padding: 0 24px 12px;
    border-bottom: 1px solid #c4c8ce;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: var(--cinza-texto);
}

.history_table td {
    background-color: #ffffff;
    padding: 24px;
    text-align: center;
    font-size: 15px;
    color: #000000;
}

.history_table a {
    color: var(--vermelho);
    font-size: 20px;
}